<% if user_signed_in? %>
  <%= @user.username %> <br>
  <%= @user.posts.count %> <br>
  <%= @user.fullname %> <br><br>

  <%= link_to 'Редактировать профиль', edit_user_path(@user), class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %> <br><br>

  <%= link_to 'Создать пост', new_post_path, class: "py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
  <br><br \>

  <div class="my-6 image-container">
    <% @user.posts.each_slice(3) do |posts_row| %>
      <div class="flex justify-between w-full">
        <% posts_row.each do |post| %>
          <div class="image-wrapper">
            <%= link_to image_tag post.image, class: "square-image" if post.image.attached? %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
