<div class="flex justify-center">
  <div class="max-w-4xl mx-auto px-4 sm:px-6 lg:px-8 flex items-start">
    <div class="mb-4 mr-4">
      <%= link_to user_path(@post.user), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
        <%= image_tag("close_icon.svg", class: "mr-4") %>
      <% end %>
    </div>

    <div class="mr-8">
      <%= image_tag(@post.image.variant(resize_to_fill: [500, 600])) %>

      <% if user_signed_in? %>
        <% like = current_user.likes.find_by(post: @post) %>
        <% if like.nil? %>
          <%= button_to likes_path, params: { like: { post_id: @post.id } }, method: :post do %>
            <%= image_tag("like_icon.svg", alt: "Like", class: "mr-2") %>
          <% end %>
        <% else %>
          <%= button_to like_path(like), method: :delete do %>
            <%= image_tag("dislike_icon.svg", alt: "Dislike", class: "mr-2") %>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="w-1/4 ml-8">
      <div class="flex flex-col">
        <div class="flex items-center mb-4">
          <% if @post.user.avatar.attached? %>
            <%= link_to user_path(@post.user) do %>
              <%= image_tag @post.user.avatar.variant(resize_to_fill: [40, 40]), class: "rounded-avatar" %>
            <% end %>
          <% end %>
          <div class="ml-3">
            <%= link_to user_path(@post.user), class: "font-bold ml-2 text-blue-500 hover:underline" do %>
              <%= @post.user.username %>
            <% end %>
            <span class="text-sm ml-2"><%= @post.description %></span>
          </div>
        </div>

        <div class="mt-2 font-bold">
          <p><%= @post.likes.count %> отметок "Нравится"</p>
        </div>

        <%= render 'comments/form', comment: @comment %>

        <% @comments.each do |comment| %>
          <div class="mb-4 mt-4 flex items-start">
            <% if comment.user %>
              <%= link_to user_path(comment.user), class: "flex items-center" do %>
                <%= image_tag comment.user.avatar.variant(resize_to_fill: [30, 30]), class: "rounded-avatar" if comment.user.avatar.attached? %>
              <% end %>
              <div class="ml-2">
                <%= link_to user_path(comment.user), class: "flex items-center font-bold ml-2 text-blue-500 hover:underline" do %>
                  <%= comment.user.username %>
                <% end %>
                <p class="ml-2"><%= comment.text %></p>
                <% if current_user && current_user == comment.user %>
                  <div class="flex items-center ml-2">
                    <%= link_to edit_comment_path(comment), method: :get, class: "text-blue-500 hover:underline mr-2" do %> ✏️
                    <% end %>
                    <%= button_to comment_path(comment), method: :delete, data: { turbo_confirm: 'Вы уверены?' }, class: "text-red-500 hover:underline" do %> 🗑️
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
