<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<div class="min-h-full">
  <main class="flex">
    <% unless controller.controller_name == 'posts' && controller.action_name == 'show' %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
      <%= yield %>
    </div>
  </main>
</div>
  <% unless controller.controller_name == 'posts' && controller.action_name == 'show' %>
    <%= render 'layouts/footer' %>
  <% end %>
</body>
</html>
